<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <!-- Propriedades padrão -->
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %5p --- %c{1} : %m%n"/>
    <property name="CONSOLE_LOG_CHARSET" value="UTF-8"/>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>

    <!-- Mostrar status do Logback na inicialização (útil para debug) -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <!-- Appender para saída padrão (stdout) - recomendado para Docker -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>